<div *ngIf="item">
    <span class="title">{{item.title}}</span>
    <mat-slide-toggle *ngIf="uid; else elseBlock" class="example-margin" [checked]="edit" (change)="change($event);">
        Edit
    </mat-slide-toggle>
    <ng-template #elseBlock>
        <span *ngIf="uid == null; else signInBlock"><mat-spinner [diameter]="20" [strokeWidth]="5"></mat-spinner></span>
        <ng-template #signInBlock>
            <button mat-button color="primary" routerLink="/login">Sign in to edit</button>
        </ng-template>
    </ng-template>
</div>

<app-section [edit]="edit" [item]="item" *ngIf="item"></app-section>