<!-- <div *ngIf="item">
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changed($event);">
        <mat-button-toggle value="editor" aria-label="editor" [checked]="true">
            Editor
        </mat-button-toggle>
        <mat-button-toggle value="preview" aria-label="preview">
            Preview
        </mat-button-toggle>
    </mat-button-toggle-group>

    <br/>
    <div *ngIf="previewHTML; else elseBlock">
        <div [innerHTML]="previewHTML"></div>
    </div>
    <ng-template #elseBlock>
        <mat-form-field>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" [(ngModel)]="md"></textarea>
        </mat-form-field>
    </ng-template>
    <br/>
    <button mat-button (click)="publish();">Publish</button>
    <button mat-button (click)="cancel();">Cancel</button>
</div> -->


<!-- {{item.data[attribute]}} -->