<div *ngIf="edit">
    <button color="primary" mat-button [routerLink]="[editLink, 'question']">Question <mat-icon>edit</mat-icon></button>
    <button color="primary" mat-button [routerLink]="[editLink, 'answer']">Answer <mat-icon>edit</mat-icon></button>
    <button color="warn" mat-button (click)="openBottomSheet()">Delete <mat-icon>delete</mat-icon></button>
</div>
<div *ngIf="questionMD; else questionElseBlock">
    <app-excerpt [mdstr]="questionMD"></app-excerpt>
</div>
<ng-template #questionElseBlock>
    <div *ngIf="questionMD == null">
        <mat-spinner [diameter]="20" [strokeWidth]="5"></mat-spinner>
    </div>
</ng-template>

<div *ngIf="answerMD; else answerElseBlock">
    <mat-divider></mat-divider>
    <app-excerpt [mdstr]="answerMD"></app-excerpt>
</div>
<ng-template #answerElseBlock>
    <div *ngIf="answerMD == null">
        <mat-divider></mat-divider>
        <mat-spinner [diameter]="20" [strokeWidth]="5"></mat-spinner>
    </div>
</ng-template>

<div class="sectionbox">
    <div *ngIf="node">
        <mat-accordion [multi]="true">
            <div *ngFor="let sub of node.kids">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{sub.title}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>

                            <app-section [edit]="edit" [sha1]="sub.sha1"></app-section>

                    </ng-template>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
    <button *ngIf="edit" color="primary" mat-button (click)="addClick();">Add Section <mat-icon>add</mat-icon></button>
</div>